doctype html
html
    head
        title 漠野软件测试题
        meta(charset="utf-8")
        meta(name= "description", content="漠野软件测试题")
        link(href="css/main.css", rel="stylesheet")
    body
        .container
            .content
                a.logo.hide-text(href="", title="logo") logo
                ul.note
                    li 1. You have to install and activate it(please connect to internet to register)before the Giveaway offer for the software is over.
                    li 2. No free upgrades to future versions and technical support(Includes offline registration)will be provided for Giveaway Products.
                .products
                    .promotion1.pull-left
                        img(src="img/promotion1.jpg", alt="test leawo")
                        a.hide-text(href="") get it now
                    .promotion2.pull-right
                        img(src="img/promotion2.jpg", alt="tunes cleaner")
                        a.hide-text(href="") get it now
                    .clearfix
                    .special-offer
                        h3.special-offer-title
                            span.icon.icon-star.gap-right-15
                            | Special Offer for GOTD Users
                        ul.special-offer-list
                            li.special-offer-item.pull-left
                                h5 Leawo Blu-ray Ripper
                                    span.icon.icon-both-osx-windows.gap-left-10
                                .thumbnail.text-center
                                    a(href="#")
                                        img(src="img/product1.jpg")
                                p Provide excellent solutions for ultra DVD and video enjoyment with powerful video editing features and many user-friendly options.
                                .price
                                    span.ori-price.gap-right-15 $164.85
                                    span.cur-price $99.95
                                .buy-btn-group
                                    a.btn.buy-windows-btn.gap-right-10.hide-text(href="#") buy now
                                    a.btn.buy-osx-btn.hide-text(href="#") buy now
                            li.special-offer-item.pull-left
                                h5 Leawo Blu-ray Copy
                                    span.icon.icon-both-osx-windows.gap-left-10
                                .thumbnail.text-center
                                    a(href="#")
                                        img(src="img/product2.jpg")
                                p Provide excellent solutions for ultra DVD and video enjoyment with powerful video editing features and many user-friendly options.
                                .price
                                    span.ori-price.gap-right-15 $164.85
                                    span.cur-price $99.95
                                .buy-btn-group
                                    a.btn.buy-windows-btn.gap-right-10.hide-text(href="#") buy now
                                    a.btn.buy-osx-btn.hide-text(href="#") buy now
                            li.special-offer-item.last.pull-left
                                h5 Leawo Blu-ray Player
                                    span.icon.icon-windows.gap-left-10
                                .thumbnail.text-center
                                    a(href="#")
                                        img(src="img/product3.jpg")
                                p Provide excellent solutions for ultra DVD and video enjoyment with powerful video editing features and many user-friendly options.
                                .price
                                    span.ori-price.gap-right-15 $164.85
                                    span.cur-price $99.95
                                .buy-btn-group
                                    a.btn.buy-windows-btn.hide-text(href="#") buy now
                            li.clearfix
        .foot
            .foot-content
                p
                    a(href="#") Home 
                    a(href="#") Privacy Policy 
                    a(href="#") Terms of Use 
                    a(href="#") About 
                    a(href="#") Friendlink
                    a(href="#") Affiliate  
                    a.last(href="#") Software Store
                p Copyright &copy; 2006 - 2011 Leawo Software Co., Ltd. All Rights Reserved.
        script(src="js/jquery-1.11.1.min.js")