/*#seek1 {
    right: -16px;
}*/
.disnone {
    display: none;
}
#main_qs {
    background: url(/service/img/qs1.jpg) no-repeat 0px 0px;
    position: relative;
    top: 290px;
    border-bottom: 1px #ccc solid;
    height: 27px;
}
.style_font_qs {
    display: line-block;
    position: absolute;
    left: 154px;
    bottom: 4px;
    font-size: 1.5em;
    color: #999;
}
.style_font_qs2 {
    display: line-block;
    right: 0px;
    position: absolute;
    font-size: 0.9em;
    bottom: 4px;
}
#main_qs_1 {
    width: 470px;
    height: 46px;
    position: relative;
    top: 324px;
    margin: 0px auto;
}
.bgstyle_qs_1 {
    display: block;
    width: 156px;
    height: 46px;
    background: url(/service/img/qs2_2.jpg) no-repeat 0px 0px;
    position: absolute;
    left: 0px;
}
.bgstyle_qs_2 {
    display: block;
    width: 156px;
    height: 46px;
    background: url(/service/img/qs2_2.jpg) no-repeat -158px 0px;
    position: absolute;
    left: 158px;
}
.bgstyle_qs_3 {
    display: block;
    width: 156px;
    height: 46px;
    background: url(/service/img/qs2_2.jpg) no-repeat -313px 0px;
    position: absolute;
    right: 0px;
}
a.bgstyle_qs_1:hover {
    background: url(/service/img/qs2.jpg) no-repeat -1px 1px;
}
a.bgstyle_qs_2:hover {
    background: url(/service/img/qs2.jpg) no-repeat -159px 1px;
}
a.bgstyle_qs_3:hover {
    background: url(/service/img/qs2.jpg) no-repeat -314px 1px;
}
#container2 {
    width: 820px;
    height: 480px;
    border:1px #ccc solid;
    margin: 0px auto 30px auto;

}
#content_ct2 {
    background: url(/service/img/duigou.jpg) no-repeat 0px 30px;
    width: 390px;
    height: 60px;
    padding: 30px 0 30px 80px;
    margin: 0px auto;
}
.style_font_ct2 {
    color: #888;
    line-height: 1.6em;
}
.style_font_ct2 span {
    color: #2089cf;
    font-weight: bold;
}
#content_nav {
    padding-left: 240px;
    z-index: 100;
    position: relative;
}
.content_nav_1 {
    display: inline-block;
    border: #888 2px solid;
    padding: 7px 10px;
    border-bottom: none;
}
.content_nav_2 {
    display: inline-block;
    border: #888 2px solid;
    padding: 7px 17px;
    border-bottom: none;
}
#content_ct_q1 {
    padding-top: 40px;
    border-top: 2px #2089cf solid;
    width: 680px;
    position: relative;
    top: -2px;
    margin: 0px auto;
}
#content_ct_q1 table {
    /*position: relative;*/
    /*top: -100px;*/
    color: #777;
}
#content_ct_q1 td {
    padding: 8px 48px;
    border-bottom: 1px #ccc dotted; 
    text-align: left;
}
.style_td_red {
    color: red;
}
.style_td_blue {
    color: #2089cf;
}
#content_ct_q1 th {
    border-bottom: 1px #ccc solid; 
    padding: 8px 0px;
    text-align: center;
    color: #222;
}
#content_ct_q2 {
    text-align: center;
}
#content_ct_q2 a {
    display: line-block;
    padding: 0px 5px;
    font-size: 0.9em;
}
.content_nav_3 {
    display: line-block;
    border-top: #2089cf 2px solid;
    border-left: #2089cf 2px solid;
    border-right: #2089cf 2px solid;
    border-bottom: #fff 2px solid;
    padding: 7px 10px;
}
.content_nav_4 {
    display: line-block;
    border-top: #2089cf 2px solid;
    border-left: #2089cf 2px solid;
    border-right: #2089cf 2px solid;
    border-bottom: #fff 2px solid;
    padding: 7px 17px;
}

.selected {
    border: solid 2px #2089cf;
    border-bottom: solid 2px #fff;
    position: relative;
}
.question_container {
    overflow: hidden;
    margin-bottom: 50px;
}
.footer {
    background: #ccc;
    color: #666;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    overflow: hidden;
}
