$path               = '/tvc/img/'
$bg                 = $path'bg.jpg'
$bg_nav             = $path'bg_nav.jpg'
$bg_content         = $path'bg_content.jpg'
$bg_bottom          = $path'bg_bottom.jpg'
$loading            = $path'loading.gif'
$close_dialog       = $path'close.jpg'
$btn                = $path'btn.jpg'
$btn_bg             = $path'btn_bg.jpg'
$loading            = $path'loading.jpg'
$content_1          = $path'content_1.jpg'
$content_2          = $path'content_2.jpg'
$content_3          = $path'content_3.jpg'
$content_4          = $path'content_4.jpg'
body
    margin 0
    background #000
    color #000
    font-size 12px
    line-height 22px
.container
    height 1200px
    min-width 1045px
    overflow hidden
    font-size 12px
.bg_nav
    height 580px
    background url($bg_nav) no-repeat top center
.bg_content
    height 385px
    background url($bg_content) no-repeat top center
.bg_bottom
    height 320px
    background url($bg_bottom) no-repeat top center
.main
    width 1045px
    margin 0 auto
    position relative
    height 100%
    overflow hidden
.nav
    text-align right
    line-height 20px
    top 12px
    left 800px
    height 20px
    position absolute
    a
        color #c182fc
        margin 5px
        font-size 13px
        text-decoration none
        &:hover
            color #fff
            text-decoration underline 
#a_nycs
    top 25px
    left 28px
    width 217px
    height 106px
    display block
    cursor pointer
    outline none
    position absolute
    text-decoration none
#flash, #flash_but, #flash_btn
    width 188px
    height 104px
    position absolute
    top 371px
    left 89px
#flash_sg, #flash_but_sg, #flash_btn_sg
    width 364px
    height 205px
    position absolute
    top 42px
    left 548px
#flash_but_sg
    width 300px
    height 150px
    top 65px
    left 605px            
#flash_btn,#flash_btn_sg
    background url($btn) no-repeat 999cm
    cursor pointer
.pop_video_detail,.pop_video_detail_sg
    background #54200A
    border 1px solid #873410
#pop_flash,#pop_flash_sg
    border 1px solid #873410
    background #000
    line-height 0
    height 355px
.ui-dialog .ui-dialog-titlebar-close
    background url($close_dialog) no-repeat
object
    outline none
#xl,#tx
    width 133px
    height 41px
    cursor pointer
    position absolute
#xl
    top 535px
    left 613px
    &:hover
        background url($btn) -9px -79px
#tx
    top 535px
    left 757px
    &:hover
        background url($btn) -151px -79px
#shuguang,#daoyan,#chuangyi,#zhizuo
    width 243px
    height 61px
    cursor pointer
    position absolute
#shuguang
    top 13px
    left 33px
    &:hover
        background url($btn) -9px -8px
#daoyan
    top 13px
    left 278px
    &:hover
        background url($btn) -254px -8px
#chuangyi
    top 13px
    left 523px
    &:hover
        background url($btn) -499px -8px
#zhizuo
    top 13px
    left 768px
    &:hover
        background url($btn) -744px -8px
#shuguang_main,#daoyan_main,#chuangyi_main,#zhizuo_main
    width 100%
    height 296px
    top 88px
    left -3px
    position absolute
#shuguang_main
    background url($content_1) no-repeat top center
#daoyan_main
    background url($content_2) no-repeat top center
#daoyan_1,#daoyan_2,#daoyan_3,#daoyan_4
    width 173px
    height 95px
    position absolute
    display block
    outline none
    img
        border 0
#daoyan_1
    top 51px
    left 548px
#daoyan_2
    top 51px
    left 737px
#daoyan_3
    top 160px
    left 548px
#daoyan_4
    top 160px
    left 737px
#chuangyi_main
    background url($content_3) no-repeat top center
#chuangyi_1
    width 177px
    height 213px
    top 42px
    left 737px
    position absolute
    display block
    outline none
    img
        border 0
#zhizuo_main
    background url($content_4) no-repeat top center
#zhizuo_1,#zhizuo_2,#zhizuo_3,#zhizuo_4
    width 173px
    height 95px
    top 51px
    left 548px
    position absolute
    display block
    outline none
    img
        border 0
#zhizuo_1
    top 51px
    left 548px
#zhizuo_2
    top 51px
    left 737px
#zhizuo_3
    top 160px
    left 548px
#zhizuo_4
    top 160px
    left 737px
.copy_right
    width 980px
    text-align center
    position absolute
    top 45px
    color #7f8070
    .feet_txt
        text-align left
        top 35px
        left 295px
        position absolute
        line-height 20px
    .feet_logo
        position absolute
        width 140px
        height 60px        
        top 40px
        left 115px
        outline none
.disnone
    display none