doctype html
html
    head
        title 蔡依林主演《诺亚传说》千万级史诗概念片——《曙光》|《诺亚传说》蔡依林倾情代言，10月12日战放公测！
        meta(charset="utf-8")
        meta(name= "description", content="《诺亚传说》千万级史诗概念片《曙光》,由亚洲天后蔡依林领衔主演 ,法国导演马修·曼托瓦尼全程执导！国际团队Digital District操刀剪辑制作！10月12日战放公测,我们未来战场见！")
        link(href="/tvc/plugin/jquery-ui/jquery-ui-1.8.13.custom.css", rel="stylesheet")
        link(href="/tvc/plugin/light-box/jquery.lightbox-0.5.css", rel="stylesheet")
        link(href="/tvc/css/main.css", rel="stylesheet") 
        script(src="/tvc/js/jquery-1.7.1.min.js")
        script(src = "/tvc/js/jquery-ui.js")
        script(src="/tvc/js/lightbox.js")
        script(src="/tvc/js/main.js")
    body
        .container
            .bg_nav
                .main
                    .nav
                        a(href="http://nycs.syyx.com/index.shtml",target="_blank",title="官网首页",hidefocus="true") 官网
                        | 
                        a(href="http://user.syyx.com/reg.aspx",target="_blank",title="注册账号",hidefocus="true") 注册
                        | 
                        a(href="http://nycs.syyx.com/DownLoad/Index.aspx",target="_blank",title="下载游戏",hidefocus="true") 下载
                        | 
                        a(href="http://bbs.nycs.syyx.com/",target="_blank",title="玩家论坛",hidefocus="true") 论坛
                    a#a_nycs(href="http://nycs.syyx.com",hidefocus="true")
                    #flash
                    #flash_but
                    #flash_btn
                    a#xl(href="http://weibo.com/nuoyachuanshuo",hidefocus="true",target="_blank")
                    a#tx(href="http://t.qq.com/nycs_sy",hidefocus="true",target="_blank")
            .bg_content
                .main
                    a#shuguang(href="#",hidefocus="true")
                    a#daoyan(href="#",hidefocus="true")
                    a#chuangyi(href="#",hidefocus="true")
                    a#zhizuo(href="#",hidefocus="true")
                    #shuguang_main(style="display:none")
                        #flash_sg
                        #flash_but_sg
                        #flash_btn_sg
                    #daoyan_main(style="display:none")
                        a#daoyan_1(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_1.jpg",hidefocus="true")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_1.jpg",width="177",height="96")
                        a#daoyan_2(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_2.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_2.jpg",width="177",height="96")
                        a#daoyan_3(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_3.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_3.jpg",width="177",height="96")
                        a#daoyan_4(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_4.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_4.jpg",width="177",height="96")
                    #chuangyi_main(style="display:none")
                        a#chuangyi_1(href="http://r.syyx.com/party/nycs/tvcaction/chuangyi_1.jpg",target="_blank")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/cy_1.jpg",width="177",height="213")
                    #zhizuo_main(style="display:none")
                        a#zhizuo_1(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_1.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_1.jpg",width="177",height="96")
                        a#zhizuo_2(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_2.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_2.jpg",width="177",height="96")
                        a#zhizuo_3(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_3.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_3.jpg",width="177",height="96")
                        a#zhizuo_4(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_4.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_4.jpg",width="177",height="96")
            .bg_bottom
                .main
                    .copy_right
                        .game_advice
                            | 健康游戏公告: 抵制不良游戏　拒绝盗版游戏　注意自我保护　谨防受骗上当　适度游戏益脑　沉迷游戏伤身　合理安排时间　享受健康生活
                        .feet_txt
                            | 文网游备字[2011]C-RPG014字&nbsp;&nbsp;文网文【2009】263号
                            br
                            | 增值电信业务经营许可证 粤B2-20080061&nbsp;&nbsp;粤ICP备10029615号
                            br
                            | 出版号 ISBN 978-7-900267-01-6
                            br
                            | Copyright@2007-2012 深圳市尚游网络科技有限公司 版权所有
                        a.feet_logo(href='http://www.syyx.com/',target='_blank',hidefocus="true")