/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input:focus {
    outline: none;
}
/* helper */
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

/*.clearfix {
    height: 0;
    overflow: hidden;
    clear: both;
}*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-center {
    text-align: center;
}
.icon {
    display: inline-block;
    vertical-align: bottom;
    background: url("../img/icon.jpg") 0 0 no-repeat;
}
.btn {
    background: url("../img/icon.jpg") 0 0 no-repeat;
    display: inline-block;
}
.buy-windows-btn {
    width: 105px;
    height: 28px;
    background-position: -2px -29px;
}
.buy-osx-btn {
    width: 105px;
    height: 28px;
    background-position: -117px -29px;
}
.icon-star {
    width: 26px;
    height: 26px;
    background-position: -61px 0;
}
.icon-both-osx-windows {
    width: 50px;
    height: 26px;
    background-position: -4px 0;
}
.icon-osx {
    width: 26px;
    height: 26px;
    background-position: -28px 0;
}
.icon-windows {
    width: 26px;
    height: 26px;
    background-position: -4px 0;
}
.gap-right-15 {
    margin-right: 15px;
}
.gap-right-10 {
    margin-right: 10px;
}
.gap-left-10 {
    margin-left: 10px;
}

body {
    font-size: 14px;
    font-family:sans-serif;
}

.container {
    background: #fff url("../img/bg.jpg") 0 0 repeat-x;
    min-width: 1100px;
}

.content {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    background: url("../img/header-bg.jpg") 0 0 repeat-x;
    padding-top: 630px; 
}
.logo {
    position: absolute;
    top: 3px;
    left: 60px;
    width: 110px;
    height: 30px;
}
.note {
    position: absolute;
    color: #266392;
    top: 570px;
    left: 195px;
    line-height: 22px;
    font-size: 12px;
}
.reg {
    position: absolute;
    width: 258px;
    height: 294px;
    overflow: hidden;
    right: 170px;
    top:132px;
    padding: 30px 40px;
}
.reg h3 {
    color: #CC0001;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}
.reg p {
    font-size: 12px;
    color: #286196;
    line-height: 18px;
    padding-bottom: 20px;
}
#reg_form {
    padding: 0 10px; 
}
#reg_form label {
    font-weight: bold;
    color: #286196;
    display: block;
    margin-bottom: 3px;
}
.form-control {
    padding-bottom: 15px;
}
.custom-input {
    height: 18px;
    background: url("../img/input-bg.png") 0 0 repeat-x;
    position: relative;
    padding: 3px 4px 4px 4px; 
}
.left-radius {
    position: absolute;
    top:0;
    left:0;
    width: 4px;
    height: 25px;
    background: url("../img/input-radius.png") left top no-repeat;
}
.right-radius {
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 25px;
    background: url("../img/input-radius.png") right top no-repeat;
}
.custom-input input {
    border: none;
    height: 18px;
    line-height: 18px;
    width: 100%;
    background: none;
}
.submit-reg-btn {
    border: none;
    background-position: -1px -66px;
    width: 195px;
    height: 31px;
    display: block;
    margin:0 auto;
    cursor: pointer;
}
.products {
    padding: 30px 100px;
}
.promotion1, .promotion2 {
    position: relative;
}
.promotion1 img {
    width: 450px;
    height: 200px;
}
.promotion2 img {
    width: 445px;
    height: 200px;
}
.promotion1 a {
    position: absolute;
    width: 166px;
    height: 50px;
    top:129px;
    left:20px;
    _background: url(about:blank);
}
.promotion2 a {
    position: absolute;
    width: 164px;
    height: 50px;
    top:129px;
    left:159px;
    _background: url(about:blank);
}
.special-offer {
    padding: 30px 20px 20px 20px;
    clear: both;
}
.special-offer-title {
    color: #CD0000;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    margin-bottom:40px;
}
.special-offer-item {
    padding-right: 30px;
    margin-right: 30px;     
    width: 245px;
    border-right: solid 2px #E8CAC2;
}
.special-offer-list {
    overflow: hidden;
}
.special-offer-list .last {
    padding-right: 0;
    border: none;
    margin-right: 0; 
}
.special-offer-item h5 {
    color: #2A6295;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
    line-height: 26px;
    height: 26px;
    overflow: hidden; 
}
.thumbnail {
    padding-bottom: 15px;
}
.special-offer-item img {
    width: 145px;
    height: 145px;
}
.special-offer-item p {
    color: #333;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 15px;
}
.ori-price {
    color: #797979;
    font-size: 14px;
    text-decoration:line-through;
}
.cur-price {
    font-size: 16px;
    font-weight: bold;
    color: #FE0002;
}
.buy-btn-group {
    padding-top: 15px;
}
.foot {
    background: url("../img/foot-bg.jpg") 0 0 repeat-x;
    min-width: 1100px;
    height: 77px;
    overflow: hidden;
}
.foot-content {
    width: 1100px;
    text-align: center;
    color:#fff;
    margin: 0 auto;
    padding-top: 20px;
}
.foot-content ul {
    padding-left: 250px;
    height: 20px;
    overflow: hidden;
}
.foot-content li {
    border-right: solid 1px #fff;
    float:left;
    height: 14px;
    line-height: 14px; 
    margin: 0 10px 0 0;
    padding-right: 10px;
}
.foot-content .last {
    border: none;
    padding: 0;
}
.foot-content p {
    padding-bottom: 5px;
}