body {
  margin: 0;
  font: 12px/2em "宋体";
  color: #a7a7a9;
  background: #1c180f;
}
a {
  text-decoration: none;
  color: #a4e1fd;
  outline: none;
}
a:hover {
  color: #fff;
}
img {
  border: none;
}
.container {
  position: relative;
  background: url("/jolin/img/bg.jpg") no-repeat center top;
  min-width: 980px;
}
.wrap {
  background: url("/jolin/img/main.jpg") no-repeat center 480px;
  position: relative;
  min-width: 980px;
}
.main {
  width: 980px;
  margin: 0 auto;
  height: 1350px;
  position: relative;
}
.nav {
  color: #a4e1fd;
  float: right;
  line-height: 35px;
  padding-right: 50px;
}
.logo {
  position: absolute;
  width: 187px;
  height: 86px;
  right: 10px;
  top: 40px;
  text-indent: -9999cm;
}
#prize {
  position: absolute;
  width: 284px;
  height: 55px;
  left: 20px;
  top: 390px;
}
#flash,
#flash_but,
#flash_btn {
  width: 186px;
  height: 105px;
  position: absolute;
  top: 340px;
  left: 433px;
}
#flash_btn {
  background: url("/jolin/img/btn.jpg") no-repeat 999cm;
  cursor: pointer;
}
#rungame_v,
#rungame_v2,
a.rungame_1 {
  width: 221px;
  height: 72px;
  position: absolute;
  left: 708px;
  top: 396px;
}
#rungame_v2 {
  visibility: hidden;
}
a.rungame_1 {
  background: url("/jolin/img/btn.jpg") no-repeat 999cm;
}
.reg_panel {
  width: 300px;
  left: 670px;
  top: 570px;
  overflow: hidden;
  position: absolute;
  height: 260px;
  color: #82d1e0;
}
.reg_panel .reg {
  padding: 0 20px 0 25px;
  height: 260px;
}
.reg_panel table {
  height: 162px;
}
.reg_panel table td {
  height: 28px;
  width: 20px;
}
.reg_panel table input {
  background: #85bbe5;
  border: 1px solid #009cff;
  height: 18px;
  color: #002c7a;
  line-height: 18px;
  width: 170px;
}
.reg_panel table .focus_in_inut {
  background: #cce9ff;
}
.reg_panel .agreement {
  height: 21px;
}
.reg_panel .reg_form_item_name {
  width: 60px;
}
.reg_panel .reg_form_item_input {
  width: 175px;
}
.reg_panel .validate_num_input {
  height: 30px;
  vertical-align: top;
  padding-top: 3px;
}
.reg_panel #txtValidate {
  width: 60px;
}
.reg_panel #validateimg {
  width: 100px;
  margin-left: 5px;
  height: 27px;
  vertical-align: top;
  cursor: pointer;
}
.reg_panel #reg_step2,
.reg_panel #reg_step3,
.reg_panel #reg_step4,
.reg_panel #reg_step5 {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
  display: none;
  line-height: 30px;
  height: 150px;
  text-align: center;
}
.reg_panel #reg_step2 input,
.reg_panel #reg_step3 input,
.reg_panel #reg_step4 input,
.reg_panel #reg_step5 input {
  background: #85bbe5;
  border: 1px solid #009cff;
  height: 18px;
  color: #002c7a;
  line-height: 18px;
  width: 170px;
}
.reg_panel #reg_step2 {
  height: 241px;
}
.reg_panel #reg_step2 .active {
  height: 200px;
  line-height: 30px;
}
.reg_panel #active_link {
  display: block;
  margin: 20px auto;
  width: 159px;
  height: 38px;
  background: url("/jolin/img/btn.jpg") no-repeat -393px -8px;
}
.reg_panel #active_link:hover {
  background-position: -556px -8px;
}
.reg_panel .rungame_bg {
  height: 50px;
  width: 266px;
  margin: 0 auto;
}
.reg_panel .rungame_bg .rungame {
  display: block;
  width: 159px;
  height: 38px;
  background: url("/jolin/img/btn.jpg") -556px -95px;
  margin: 0 auto;
}
.reg_panel .rungame_bg .rungame:hover {
  background-position: -393px -94px;
}
.reg_panel .reg_submit {
  height: 55px;
  position: relative;
}
.reg_panel #reg_button {
  width: 159px;
  height: 38px;
  position: absolute;
  left: 51px;
  top: 7px;
  background: url("/jolin/img/btn.jpg") no-repeat -556px -137px;
}
.reg_panel #reg_button:hover {
  background-position: -392px -136px;
}
.reg_panel .success {
  font-size: 16px;
  height: 50px;
  padding-left: 40px;
  line-height: 50px;
  background: url("/jolin/img/success.png") no-repeat left center;
  color: #eee;
  display: inline-block;
  font-weight: 700;
}
.reg_panel .fail {
  font-size: 16px;
  height: 50px;
  padding-left: 40px;
  line-height: 50px;
  text-align: left;
  background: url("/jolin/img/fail.png") no-repeat left center;
  color: #eee;
  margin-left: 50px;
  font-weight: 700;
}
.reg_panel #back {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
}
.reg_panel .check_result_wrong {
  background: url("/jolin/img/right_wrong.png") no-repeat 0 -32px;
  height: 100%;
  width: 16px;
}
.reg_panel .check_result_right {
  background: url("/jolin/img/right_wrong.png") no-repeat 0 4px;
  height: 25px;
  width: 16px;
}
.reg_panel .check_result_loading {
  background: url("/jolin/img/ajax-loader.gif") no-repeat 0 4px;
  height: 25px;
  width: 16px;
}
#job {
  position: absolute;
  top: 858px;
  left: 0;
  width: 655px;
  height: 332px;
  color: #a7a7a5;
}
#job #j_tab {
  height: 55px;
  position: absolute;
  width: 372px;
  left: 190px;
  top: 5px;
  background: url("/jolin/img/btn.jpg") no-repeat -11px -8px;
}
#job #j_tab span {
  display: inline-block;
  width: 93px;
  float: left;
  background: url("/jolin/img/btn.jpg") no-repeat 9999cm;
  height: 100%;
  cursor: pointer;
}
#job #j_tab .check_0 {
  background-position: -11px -67px;
}
#job #j_tab .check_1 {
  background-position: -105px -67px;
}
#job #j_tab .check_2 {
  background-position: -198px -67px;
}
#job #j_tab .check_3 {
  background-position: -291px -67px;
}
#job #j_con {
  height: 273px;
  width: 100%;
  top: 61px;
  position: absolute;
  overflow: hidden;
  line-height: 25px;
}
#job #j_con .con {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}
#job #j_con .jws {
  background: url("/jolin/img/jws.jpg") no-repeat -4px top;
}
#job #j_con .qxs {
  background: url("/jolin/img/qxs.jpg") no-repeat -4px top;
}
#job #j_con .ynz {
  background: url("/jolin/img/ynz.jpg") no-repeat -4px top;
}
#job #j_con .gdj {
  background: url("/jolin/img/gdj.jpg") no-repeat -4px top;
}
#job #j_con strong,
#job #j_con span {
  color: #73bbc9;
}
#job #j_con .feat {
  width: 160px;
  position: absolute;
  top: 74px;
  left: 490px;
  line-height: 24px;
}
#job #j_con .feat2 {
  position: absolute;
  left: 240px;
  top: 180px;
}
#job #j_con .video {
  width: 238px;
  height: 134px;
  position: absolute;
  top: 30px;
  left: 227px;
  background: #000;
  overflow: hidden;
  border: 1px solid #079dda;
}
#job #to_reg_3 {
  width: 149px;
  height: 38px;
  background: url("/jolin/img/btn.jpg") no-repeat -556px -52px;
  position: absolute;
  top: 250px;
  right: 30px;
  cursor: pointer;
}
#job #to_reg_3:hover {
  background-position: -398px -52px;
}
#img_scroll {
  width: 263px;
  height: 215px;
  position: absolute;
  top: 935px;
  right: 27px;
}
#img_scroll .button {
  width: 14px;
  height: 62px;
  float: left;
  cursor: pointer;
  margin-top: 75px;
}
#img_scroll .scroll_box {
  overflow: hidden;
  width: 235px;
  text-align: center;
  float: left;
  height: 100%;
}
#img_scroll .scroll_box #scroll_body {
  width: 1410px;
}
#img_scroll .scroll_box a {
  width: 235px;
  float: left;
  display: block;
  height: 215px;
  background: url("/jolin/img/loading.gif") no-repeat center;
}
#img_scroll .scroll_box img {
  display: none;
}
.copy_right {
  width: 700px;
  position: absolute;
  top: 1233px;
  line-height: 23px;
  padding-left: 240px;
}
.copy_right .feet_logo {
  position: absolute;
  width: 162px;
  height: 66px;
  left: 80px;
  top: -7px;
  background: url("/jolin/img/syyx.png") no-repeat;
}
.pop_video_detail {
  background-color: #032e53;
  border: 1px solid #0062b3;
}
#pop_flash {
  border: 1px solid #004680;
  background: #000;
  line-height: 0;
}
object {
  outline: none;
}
.disnone {
  display: none;
}
