/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: small;
    background: #fff;
    font-family: Verdana,Geneva,Arial,sans-serif;
}
.clear {
    clear: both;
    overflow: hidden;
    height: 10px;
}
#outermost {
    background: url(../img/bg1_1.jpg) repeat-x;
}
h1 {
    color: #CC0001;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}
h2 {
    color: #be0000;
    font-size: 1.4em;
    margin-bottom: 10px;
    padding: 0px 10px;
    letter-spacing: -0.8px;
}
li {
    margin-bottom: 6px;
}
.gap-left-10 {
    margin-left: 10px;
}
.btn {
    background: url(../img/icon.jpg) 0 0 no-repeat;
    display: inline-block;
}
.buy-windows-btn {
    width: 105px;
    height: 28px;
    background-position: -2px -29px;
}
.buy-osx-btn {
    width: 105px;
    height: 28px;
    background-position: -117px -29px;
}
.icon {
    display: inline-block;
    vertical-align: bottom;
    background: url(../img/icon.jpg) 0 0 no-repeat;
}
.icon-star {
    width: 26px;
    height: 26px;
    background-position: -61px 0;
}
.icon-both-osx-windows {
    width: 50px;
    height: 26px;
    background-position: -4px 0;
}
.icon-osx {
    width: 26px;
    height: 26px;
    background-position: -28px 0;
}
.icon-windows {
    width: 26px;
    height: 26px;
    background-position: -4px 0;
}
.style_text_color {
    color: #286196;
    font-size: 12px;
    padding: 0px 10px;
    line-height: 1.4em;
}
.style_text_color_1 {
    color: #286196;
    font-weight: bold;
    display: block;
    padding-bottom: 4px;
}
#container {
    width: 1024px;
    margin: 0px auto;
    background: url(../img/bg1_2.jpg) no-repeat;
    position: relative;
}
.logo_a_1 {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: 0px;
}
#header {
    margin: 0 90px;
    position: relative;
    height: 650px;
}
#content_header {
    position: absolute;
    width: 320px;
    height: 400px;
    right: 40px;
    top: 160px;
}
#content_1_header {
    position: absolute;
    top: 570px;
    right: 0px;
    width: 760px;
}
.style_form_1 {
    padding: 25px 36px;
}
.note {
    list-style: none;
    color: #266392;
    font-size: 12px;
    letter-spacing: -0.6px;
    line-height: 20px;
}
#header input {
    width: 220px;
    height: 17px;
    margin-bottom: 11px;
    border: none;
    outline: none;
}
.header_a_1 {
    display: inline-block;
    width: 180px;
    height: 30px;
    margin: 24px;
    background: none;
    border:none;
    outline: none;
    cursor: pointer;
}
#main_1_1 {
    float: left;
    padding-left: 66px;
    position: relative;
}
#main_1_2 {
    float: right;
    padding-right: 56px;
    position: relative;
}
.main_1_a_1 {
    display: inline-block;
    width: 164px;
    height: 50px;
    position: absolute;
    bottom: 24px;
    left: 86px;
}
.main_1_a_2 {
    display: inline-block;
    width: 164px;
    height: 50px;
    position: absolute;
    bottom: 24px;
    left: 160px;
}
#main_2 {
    background: url(../img/icon.jpg) -60px -2px no-repeat;
    height: 22px;
    margin: 26px 80px;  
}
.style_main_text_color {
    display: inline-block;
    padding-left: 40px;
}
#main_3 {
    position: relative;
    margin-left: 90px;
    padding-top: 20px;
}
#main_3_1 {
    width: 230px;
    float: left;
    border-right: 2px solid #E8CAC2;
    padding-right: 40px;
}
#main_3_2 {
    width: 230px;
    float: left;
    border-right: 2px solid #E8CAC2;
    padding: 0 40px;
}
#main_3_3 {
    width: 230px;
    float: left;
    padding: 0 40px;
}
.product-img {
    display: block;
    margin: 0 auto;
}
.main_3_h3 {
    text-align: left;
    font-size: 1.1em;
    color: #039;
    padding-bottom: 16px;
    letter-spacing: -0.8px;
    height: 26px;
    line-height: 26px;
}
.main_3_a1 {
    padding: 0 6px;
}
.main_3_p {
    font-size: 0.9em;
    letter-spacing: -0.6px;
    line-height: 1.4em;
    text-align: left;
    padding: 20px 0;
    color: #333;
}
.main3_style_1 {
    font-size: 1.0em;
    text-decoration: line-through;
    color: #999;
    display: inline-block;
    padding-right: 20px;
}
.main3_style_2 {
    font-size: 1.1em;
    color: #f00;
    font-weight: bold;
}
.buy-btn-group {
    padding-top: 15px;
}
#footer {
    text-align: center;
    background: url(../img/gw_40.jpg) repeat-x;
    height: 77px;
    padding-top: 20px;
    line-height: 1.5em;
    font-size: 0.8em;
    color: #fff;
    font-weight: lighter;
    margin-top: 30px;
}
.footer_a1 {
    border-right: 1px #fff solid;
    color: #fff;
    font-weight: lighter;
    display: inline-block;
    padding: 0 7px;
    line-height: 14px;
    font-size: 14px;
}
.footer_a2 {
    color: #fff;
    font-weight: lighter;
    display: inline-block;
    padding: 4px;
}
a:link {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: #fff;
}