.fontstyle2-1 {
	color: #ccc;
}
.fontstyle2-0 {
	font-weight: bold;
}
#content2-3 {
	background: url(/wedding/img/bg2.png) repeat-x bottom;
	padding:15px 0px;
}
#main3 {
	text-align: center;
}
.imgstyle3-yj {
	border: 5px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	margin: 11px;
	box-shadow: 2px 2px 2px #ffd700;
}
#main4 {
	text-align: center;
}
#main6 h3{
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}
.imgstyle3-s2 {
	border: 5px solid #ccc;
	border-radius: 5px;
	padding: 0px;
	margin: 10px;
	box-shadow: 2px 2px 2px #ffd700;
}
.bgs2 {
	background: #efefe3;
	padding: 5px;
}
#content6-1 {
	width: 380px;
	float: left;
	margin-right: 2px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 35px;
	border-right: 1px solid #ccc;
}
#content6-2 {
	width: 380px;
	float: left;
	margin-left: 2px;
	padding: 10px;
	padding-left: 20px;
}
#content6-3 {
	width: 380px;
	float: left;
	margin-right: 2px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 35px;
	border-right: 1px solid #ccc;
}
#content6-4 {
	width: 380px;
	float: left;
	margin-left: 2px;
	padding: 10px;
	padding-left: 20px;
}
#content6-5 {
	width: 380px;
	float: left;
	margin-right: 2px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 35px;
	border-right: 1px solid #ccc;
}
#content6-6 {
	width: 380px;
	float: left;
	margin-left: 2px;
	padding: 10px;
	padding-left: 20px;
}
#main7 {
	width: 200px;
	text-align: center;
	float: right;
}